/* style for whole body */
body {
    font-family: 'Consolas', monospace;
}

/* style for table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* style for header text*/
h1, h2 {
    text-align: center;
}

h2 {
    font-style: italic;
}